@font-face {
    font-family: 'University';
    src: url('../assets/fonts/University.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tommy';
    src: url('../assets/fonts/tommy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00022C;
    color: white;
}

form {
    font-family: 'Tommy', sans-serif;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%; 
    max-width: 600px;
    min-width: 300px;
    margin: 20px auto; 
}


h1 {
    font-family: 'University', sans-serif;
    color: white;
    font-size: 1.3em;
    margin: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #FFFFFF;
}

input, select {
    background-color: #022D52;
    border: 2px solid #022D52;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #899EAF;
    outline: none;
}

button {
    background-color: #022D52;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 50%;
    margin-top: 20px;
}

button:hover {
    background-color: #899EAF;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px #899EAF;
}

input::placeholder {
    color: #899EAF;
    opacity: 0.7;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #022D52;
    background-color: #022D52;
    color: white;
    font-size: 1em;
    resize: vertical;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #899EAF;
    outline: none;
}

pre {
    background-color: #022D52;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    white-space: pre-wrap; /* Pour permettre le wrapping du texte */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
